[submodule "hero-skin-image"]
	path = hero-skin-image
	url = git@github.com:mzhyui/hero-skin-image.git
[submodule "minimind"]
	path = minimind
	url = https://github.com/jingyaogong/minimind.git
[submodule "weiboSpider"]
	path = weiboSpider
	url = git@github.com:mzhyui/weiboSpider.git
